.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.email{
  color: #973131;
  font-size: 1.5rem;
}

.container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: calc(10px + 2vmin);
  color: black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c6b8b8;
}
.App-link {
  color: #000000;
}

.bg-secondary{
  background-color: #F7C566 !important;

}

.btn{
  height: 3rem;
  width: 7rem;
  font-size: 1.3rem;
  background-color: #F7C566 !important;
  border: #F7C566 !important;
}

.inc-dec{
background-color: #E0A75E !important;
width: 90px;
font-size: 1.0rem;
justify-content: center;
color: #000;
}

.Todo{
  margin-top: 50px;
}

.bg-dark-subtle{
  width: 100% !important;
  height: 19vh !important;
  text-align: center;
}
